form{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 7px;

    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}


input{
    appearance: none;
    border: none;
    outline: none;
    flex-grow: 1;
    caret-color: hsl(var(--clr-blue));
   
    
}

input::placeholder{
    font-family: var(--ff-primary);
}

.light-mode form {
    background-color: #FEFEFE;
}

.dark-mode form {
    background-color: #1E2A47;
    box-shadow: none;
}

.dark-mode input {
    
    color: #FFFFFF;
}

.dark-mode input::placeholder{
    color: #FFFFFF;
}


.button-search{
    appearance: none;
    border: none;
    background-color: hsl(var(--clr-blue));
    padding: 5px;
    color: hsl(var(--clr-white));
    font-weight: 700;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 50px;
    width: 106px;
    cursor: pointer;
}

.glasses{
    cursor: pointer;
    margin: 0 15px;
}

.search-container{
    display: flex;
    flex-grow: 1;
    align-items: center;

}

.no-results{
    padding: 15px;
}

@media only screen and (max-width: 450px){

    input::placeholder{
        font-size: 0.8125rem;
    }

    .glasses{
        padding-top: 5px;
        width: 20px;
        margin: 0 7px;
    }

    .button-search{
        font-size: 0.875rem;
        padding: 5px;
        height: 50px;
        width: 70px;
       
    }

    .no-results{
        font-size: 0.8125rem;
        padding: 15px 5px 0 0;
    }
    
    
}